/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.cart-else {
    height: 10rem;
}
.cart-icon {
    position: relative;
}

.cart-item-count {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
header.bg-white {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px -1px 1px rgba(0, 0, 0, 0.1);
}
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
.cat-card {
    width: 80%;
}
.cat-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* PRODUCT PAGE STYLE */
/* variant option */
.product__details__option__size,
.product__details__option__color {
    display: inline-block;
    margin-right: 50px;
}
.product__details__option__size label input[type="radio"],
.product__details__option__color label input[type="radio"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
@media only screen and (max-width: 767px) .product__details__option__size,
    .product__details__option__color {
    display: block;
    margin-right: 0;
    margin-bottom: 25px;
}
.product__details__option__size label,
.product__details__option__color label {
    background: white;
    color: #111111;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 6px 15px;
    margin-bottom: 0;
    margin-right: 5px;
    cursor: pointer;
}
.product__details__option__size label.active,
.product__details__option__color label.active {
    background: #111111;
    color: #ffffff;
    border-color: #111111;
}
/* rating  */
.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    color: #ddd; /* Personal choice */
    font-size: 8px;
    margin-left: -15px;
}
.rating input {
    display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
    color: #ffc107; /* Personal color choice. Lifted from Bootstrap 4 */
    font-size: 8px;
}

.front-stars,
.back-stars,
.star-rating {
    display: flex;
}

.star-rating {
    align-items: left;
    font-size: 1.5em;
    justify-content: left;
    margin-left: -5px;
}

.back-stars {
    color: #ccc;
    position: relative;
}

.front-stars {
    color: #ffbc0b;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s;
}

.percent {
    color: #bb5252;
    font-size: 1.5em;
}

.star-rating.product {
    font-size: 1em;
}

/* CHECKOUT PAGE */
.checkout__order__products {
    width: 100%;
}

.checkout__order__products th:not(:first-child),
.checkout__order__products td:not(:first-child) {
    padding: 2px;
    text-align: center;
}

.checkout__order__products th,
.checkout__order__products td {
    border-bottom: 1px solid #ddd;
}
.checkout__order__products .product-name {
    display: block;
    margin-bottom: 5px;
}

.checkout__order__products .product-name span {
    display: inline;
}

.checkout__order__products .product-name br {
    display: none;
}

.btn-full-width {
    width: 100%;
    display: block;
}